# Byte-compiled /  optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# text editor (vi / emacs) intermediate/swap files
*~
*.*#
*.swp

# Ignoring Core Dumps 
bin/core.*

# All dev-time config yaml files and input files except the public templates

config/*.yml
!config/temp_config.yml

bin/*.txt
!bin/input_example.txt
